################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeRepos/*/obj
/CodeRepos/.vs
*.csproj.user
/CodeRepos/*/bin
